# Python requirements file for this application.
# The libraries will be downloaded from PyPI: https://pypi.org
# when the venv.ps1 or venv.sh script is executed.
# Chris Joakim, Microsoft

Faker
Jinja2
aiohttp
azure-cosmos
azure-identity
black
docopt
python-dotenv
pytest-asyncio
pytest-cov
pytest
